<div class="example-container mat-elevation-z8" style="border: 1px solid black;">
    <form [formGroup]="searchSection" (ngSubmit)="onSubmit()">
        <label>
            City: <input type="text" formControlName="city" class="form-control">
        </label>
        <label>
            State: <input type="text" formControlName="state" class="form-control">
        </label>
        <label>
            Bed: <input type="number" formControlName="beds" class="form-control">
        </label>
        <label>
            Bath: <input type="number" formControlName="baths" class="form-control">
        </label>
        <button type="submit">Submit Application</button>
        <button>Reset</button>
    </form>

    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row;let i = index;"> {{ row.id }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.street}} - {{row.city}} - {{row.state}} - {{row.zip}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="beds">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Beds </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.beds}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="baths">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Baths </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.baths}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="sq__ft">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Sq. Ft. </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.sq__ft}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="sale_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Sale Date </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.sale_date}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.price}}$</mat-cell>
        </ng-container>
        <ng-container matColumnDef="location">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Location Cord. </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.latitude}}-{{row.longitude}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>
    <mat-paginator [length]="userArray.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChanged($event)"></mat-paginator>
</div>